dolphin.obj filter=lfs diff=lfs merge=lfs -text
sphere.obj filter=lfs diff=lfs merge=lfs -text
airplane.off filter=lfs diff=lfs merge=lfs -text
teapot.obj filter=lfs diff=lfs merge=lfs -text
teapot2.obj filter=lfs diff=lfs merge=lfs -text
